h3{
  font-family:Arial, Helvetica, sans-serif;
  color: white;
}

#my-canvas {
    background-color: rgb(36, 34, 34);
    
  }
  
  #start-btn, #restart-btn, #restart-btn1 {
    background-color: #07569f;
    color: rgb(253, 255, 250);
    padding: 20px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: -20px;
    padding-top: -10px;
  }
  
  .container {
    background-color: hsl(0, 4%, 5%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  #my-canvas {
    display:none;
  }
  
  #gameover-screen{
    display: none;
  }

  #win-screen{
    display: none;
  }
  #count {
    display: none;
  }
  #timer {
    display: flex;
    position: relative;
    top: 1px; 
    color: white;
   
  }
  
